html(lang="en")
  head
    title Session

    script(src="/vendor/crypto-js/core.js")
    script(src="/vendor/crypto-js/sha256.js")
    script(src="/vendor/event-source-polyfill/eventsource.js")
    script(src="/javascript/session.js")
  body
    p There's nothing to see here. Move along.

